.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vw 1fr 1fr 1fr 1fr 1fr 1fr 10vw;
  grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
  place-items: stretch;
}

.farbeH {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

.farbeS {
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

.farbeL {
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.slider {
width: 100%;
height: 60px;
border-radius: 5px;
border-color: white;
border-width: 3px;
border-style: solid;
}

.slider::-moz-range-track {
  background: transparent;
  height: 50px
}

.slider::-moz-range-thumb {
  height: 60px
}

.text {
  margin-left: 5px;
  font-weight: bold;
}

.button {
  margin: 1.5vh;
  border-radius: 5px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  color: white
}